extends ../common/common
block content
  .container
    h1 Create book
    form(action="/books/create", method="POST", , enctype="multipart/form-data")
      .form-group
        label Title:
        input.form-control(type="text", name="title", value=value ? value.email : "")
      .form-group
        label Description:
        input.form-control(type="text", name="description", value=value ? value.name : "")
      .form-group
        label Image:
        input.form-control(type="file", name="photo", value=value ? value.age : "")
      .form-group
      button.btn.btn-success Create