extends ../common/common
block content
 h1 BookStore
 header
div(class="row")
  div(class="menu")
  ul(class="nav justify-content-center")
  li(class="nav-item)
  a(class="nav-link", href="books/create") Create book
  li(class="nav-item)
  a(class="nav-link", href="users") Users
  li(class="nav-item")
  a(class="nav-link", href="transactions") Transactions
 h3 List of book
 ul
  each book in books
   li
    span=book.title
    span &nbsp
    a(href="books/edit/"+book.id) Edit
    span &nbsp
    a(href="books/"+book.id+"/delete") Delete
    <br>
    p=book.description
