extends ../common/common
block content
 header
  nav(class="navbar navbar-expand-lg navbar-light bg-light")
    img(src="/assets/favicon.png", height="", width="100")
    div(class="navbar-nav")
      ul(class="nav justify-content-center")
        li(class="nav-item mr-2")
          a(class="nav-item nav-link", href="books/create") Create book
        li(class="nav-item mr-2")
          a(class="nav-item nav-link", href="users") Users
        li(class="nav-item")
          a(class="nav-item nav-link", href="transactions") Transactions
 h3(class="text-center") List of book
 div(class="container")
   ul(class="list-group")
    each book in books
     li(class="list-group-item")
      label Title:&nbsp
      span=book.title
      span &nbsp
      a(class="btn btn-success btn-sm", href="books/edit/"+book.id) Edit
      span &nbsp
      a(class="btn btn-danger btn-sm", href="books/"+book.id+"/delete") Delete
      <br>
      label Description:&nbsp
      p=book.description
