extends ../common/common
block content
  .container
    h1.text-center Login
    if errors
      each error in errors
        .alert.alert-danger=error
    form(action="", method="POST")
      .form-group
        label Email:
        input.form-control(type="text", name="name", value=value ? value.name : "")
      .form-group
        label Password:
        input.form-control(type="password", name="age", value=value ? value.age : "")
      .form-group
        button.btn.btn-success Login