extends ../common/common
block content
 h3(class="text-center") List of borrow book
 div(class="container")
   table.table
    tr
      th Image
      th Title
      th Description
      th Action
      each book in books
        tr
          td
              img(src=book.book.image, width="64")
          td=book.book.title
          td=book.book.description
          td
    a.btn.btn-success(href="cart/borrow") Brrown Book