extends ../common/common
block content
  .container
    h1.text-center Edit user
    form(action="/users/update/" + user.id, method="POST")
      .form-group
        label Name:
        input.form-control(type="text", name="name", value=user.name)
      .form-group
        label Age:
        input.form-control(type="text", name="age", value=user.age)
      .form-group
        button.btn.btn-success Submit