h1 Edit user
	form(action="/users/update/" + user.id, method="POST")
		label Name:
		<br>
		input(type="text", name="name", value=user.name)
		<br>
		label Age:
		<br>
		input(type="text", name="age", value=user.age)
		<br>
		button Submit