extends ../common/common
block content
  h1 Show user
      label Name:
      <br>
      span=user.name
      <br>
      label Age:
      <br>
      span=user.age
      <br>
      a(href="/users/" + user.id +"/edit") Edit