h1 Create transaction
  form(action="transactions/create", method="POST")
    label choose user
    <br>
    select(name="username")
      each user in users
        option(value=user.name) #{user.name}
    <br>
    label choose book
    <br>
        select(name="book")
          each book in books
            option(value=book.title) #{book.title}
  button Create