extends ../common/common
block content
  .container
    h1 Create transaction
    form(action="/transactions/create", method="POST")
      .form-group
        label Choose user:
        select.form-control(name="userId")
          each user in users
            option(value=user.id) #{user.name}
      .form-group
        label Choose book:
            select.form-control(name="bookId")
              each book in books
                option(value=book.id) #{book.title}
      .form-group
        button.btn.btn-success(type="submit") Create